@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
}

nav {
  background-color: rgb(33, 33, 46);
  padding: 20px 30px;
  text-align: center;
  position: sticky;
  top: 0;
}

.logo {
  width: 90px;
}

footer {
  background-color: rgb(33, 33, 46);
  padding: 20px 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

main > section {
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding: 50px;
  margin: 0 100px;
}

.left {
  width: 50%;
  text-align: center;
  align-self: center;
  position: relative;
}

.left h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(44%);
}

.left img {
  width: 500px;
}

.right {
  width: 50%;
}

.right h1 {
  font-size: 44px;
  font-weight: bold;
  margin: 20px auto;
  letter-spacing: .5px;
  line-height: 1.4;
}

.right > p {
  font-size: 16px;
  color: rgb(63, 61, 61);
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: bold;
}

.select_color {
  margin-top: 40px;
}

.select_color h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.diff_watches {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.diff_watches img {
  width: 80px;
  outline: 1px;
  margin-right: 20px;
  cursor: pointer;
}

.features {
  display: flex;
  margin-right: 20px;
}

.time {
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  margin-right: 20px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.rate {
  background-color: rgb(180, 178, 178);
  color: black;
  font-weight: bold;
  padding: 10px 30px;
  margin-right: 20px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.buynow {
  background-color: rgb(8, 104, 104);
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  margin-right: 20px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin-top: 30px;
}

@media screen and (max-width: 1100px) {
  main > section {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  main > section {
    display: block;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
}